<% position = comment_list -%>
<div id="comments">
  <h3>Comments</h3>
  <% if position.comments.length > 0 %>
    <% position.comments.each do |comment| %>
      <div class="comment">
        <span class="comment_body"><%= textilize comment.body %></span>
        <div class="comment_metadata">
          <span class="comment_author">By <%= h comment.author %></span>
          <span class="comment_timestamp"><%= distance_of_time_in_words_to_now comment.created_at %> ago</span>
          <% if @user.admin? or @user == comment.user %>
            <span class="edit_links">
              <%= link_to "edit", { :controller => :comments, :action => :edit, :id => comment.id } %>
              <%= link_to "remove", { :controller => :comments, :action => :destroy, :id => comment.id } %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p><em>no comments yet.</em></p>
  <% end %>
  <% if @user %>
    <div id="add_comment">
      <h4>Add a comment</h4>
      <% form_for "comment", :url => { :controller => "comments", :action => "create" } do |f| %>
        <%= f.hidden_field :position_id, :value => position.id %>
        <%= f.hidden_field :position_type, :value => position.type %>
        <%= f.text_area :body %>
        <%= f.submit :Post %>
      <% end %>
    </div>
  <% else %>
    <div id="add_comment">
      <%= link_to "Log in", :controller => :openid %> to add comments.
    </div>
  <% end %>
</div>
