<tr class="user">
  <td><%= link_to user.display_name, user %></td>
  <% if user.link and user.link != "" %>
    <td><%= link_to user.link, user.link %></td>
  <% else %>
    <td><%= user.link %></td>
  <% end %>
  <% if @admin %>
    <td><%= user.fullname %></td>
    <td><%= mail_to user.email %></td>
  <% end %>
</tr>
