<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Candal">
<div id="header_wrapper">
  <div id="header">
    <h1>NOMADS</h1>
    <%= link_to "", root_url, :id => "header-logo" %> 
    <div id="login_status">
      <% if session[:user] %>
        Logged in as <%= link_to @current_user.display_name, details_path %><br/>
        <%= link_to "sign out", signout_path %>
      <% else %>
        <%= link_to "sign in", signin_path, :id => "sign_in" %>
      <% end %>
    </div>
    <ul id="navigation" class="no_dot_list">
      <li> <%= link_to "Activity", activity_url %> </li> 
      <li> <%= link_to "About", about_url %> </li> 
      <li> <%= link_to "Photos", photos_url %> </li> 
      <li> <%= link_to "Map", map_url %> </li> 
      <li> <%= link_to "Home", root_url %> </li> 
    </ul>
  </div>
</div>
