<div id="details">
  <h3>Tell us about yourself (if you like)</h3>

  <% form_for @user, :url => {:action => :details} do |f|%>
    <fieldset>
      <div class="field">
        <%= f.label :name, "Your Nickname" %>
        <%= f.text_field :name %>
        <span class="hint quiet">Used as your username throughout the site</span>
      </div>
      <div class="field">
        <%= f.label :email, "Email Address" %>
        <%= f.text_field :email %>
        <span class="hint quiet">Where we could contact you</span>
      </div>
      <div class="field">
        <%= f.label :fullname, "Real Name" %>
        <%= f.text_field :fullname %>
        <span class="hint quiet">Used if you do not provide a username</span>
      </div>
      <div class="field">
        <%= f.label :link %>
        <%= f.text_field :link, :value => @user.get_link %>
        <span class="hint quiet">A link to your own blog or trip website</span>
      </div>
    </fieldset>
  <fieldset class="buttons" >
    <%= f.submit "Save" %>
  </fieldset>
  <% end %>
</div>

<div id="openid_disclaimer" style="display:none;">
  <p> We would never share your email or full name with anyone. They would only be 
  used to get in touch with you regarding a suggestion or comment made on this
  website. 
  </p>
</div>
