<div id="container">
  <div id="openid_choice">
    <p>Please select your account provider:</p>
    <ul id="openid_buttons" class="no_dot_list">
      <li><%= link_to image_tag("google.gif"), "/openid/create?openid_url=https://www.google.com/accounts/o8/id" %></li>
      <li><%= link_to image_tag("yahoo.gif"), "/openid/create?openid_url=http://yahoo.com" %></li>
    </ul> 
  <% form_tag '/openid/create', :id => "login" do %>
    <div id="openid_input_area">
      <%= label_tag 'openid_url', "Or enter your #{link_to 'OpenID URL', 'https://www.myopenid.com/'} here:".html_safe %> <br/>
      <%= text_field_tag 'openid_url', {}, :size => 50 %><br/>
    </div>
    <%= submit_tag "Log In", :id => "openid_submit" %>
  <% end %> 
  
  </div>

  <div id="openid_explain">
    <p>We think it's important to track all contributions to our site.  In
    order to do this, we need a way to keep track of who contributes each
    piece of information.  Rather than creating yet another login for you
    to remember, we decided to use something called OpenID; it allows you
    to use your login from an existing site that supports OpenID to tell
    us who you are.  It provides us with a unique way for us to identify
    you, and an assurance that you are who you claim to be, without our
    site ever seeing your password.  We won't know your email address or
    your login unless you tell us separately.  If you do not have a google
    or a yahoo account, you can use any OpenID compatible provider to log
    in; you'll just need to provide us with the OpenID URL.  If you know
    of an OpenID provider you'd like to use, feel free to use it, and if
    you need to register for a new one, we recommend the <%= link_to "myOpenID", "http://myopenid.com" %> service.</p>
  </div>

</div>
