<%= render :partial => 'admin_bool' %>
<%= javascript_include_tag 'map_for_post' %>
<div class="suggestion_text">
  <h1>Editing post</h1>

  <%= render :partial => "form"  %>

  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
</div>

<%= render :partial => "map" %>

