<h1 class="scaffold">Listing posts</h1>

<table class="zebra">
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td>
      <% if post.user %>
        <%=h post.user.nickname %>
      <% else %>
        <em>none</em>
      <% end %>
    </td>
    <td><%=h post.title %></td>
    <td class="zebra_content"><%=textilize truncate(post.content, :length => 300) %></td>
    <td><%=h "%0.5f" % post.lat %></td>
    <td><%=h "%0.5f" % post.lon %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="scaffold">
  <%= link_to "Map", :controller => :map %> |
  <%= link_to 'New post', new_post_path %>
</div>
