<%= javascript_include_tag 'map_for_post' %>
<div class="suggestion_text">
  <h2><%=h @post.title %></h2>
  <div id="post_author">posted by <%=h @post.author or "unknown" %></div>
  <div id="post_body">
    <%=textilize @post.content %>
  </div>

  <%= link_to 'Map', "/map" %>
  | <%= link_to 'Back', posts_path %>
  <script type="text/javascript">
    var admin = false;
  </script>
  <% if @user and @user.admin? %>
    | <%= link_to 'Edit', edit_post_path(@post) %>
    <script type="text/javascript">
      var admin = true;
    </script>
  <% end %>
</div>

<div id="map_and_comment_container">
  <%= render :partial => "map" %>

  <div id="comments">
    <h3>Comments</h3>
    <% if @post.comments.length > 0 %>
      <% @post.comments.each do |comment| %>
        <div class="comment">
          <span class="comment_body"><%= textilize comment.body %></span>
          <div class="comment_metadata">
            <span class="comment_author">By <%= h comment.author %></span>
            <span class="comment_timestamp"><%= distance_of_time_in_words_to_now comment.created_at %> ago</span>
          </div>
        </div>
      <% end %>
    <% else %>
      <p><em>no comments yet.</em></p>
    <% end %>
    <% if @user %>
      <div id="add_comment">
        <h4>Add a comment</h4>
        <% form_for "comment", :url => { :controller => "comments", :action => "post", :id => @post.id } do |f| %>
          <%= f.text_area :body %>
          <%= f.submit :Post %>
        <% end %>
      </div>
    <% else %>
      <div id="add_comment">
        <%= link_to "Log in", :controller => :openid %> to add comments.
      </div>
    <% end %>
  </div>
</div>
