<%= javascript_include_tag 'map_for_post' %>
<div class="suggestion_text">
<p>
  <b>User:</b>
  <%=h @post.user_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Content:</b>
  <%=textilize @post.content %>
</p>

<h2>Comments</h2> 
  <% @post.comments.each do |c| %>  
  <p>  
    <b>Commenter:</b>  
    <%=h c.commenter %>  
  </p>  
  <p>  
    <b>Comment:</b>  
    <%=h c.body %>  
  </p> 
<% end %> 

<%= link_to 'Map', "/map" %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Manage Comments', post_comments_path(@post) %>
</div>

<%= render :partial => "map" %>
