<%= javascript_include_tag 'map_for_post' %>
<div class="suggestion_text">
<p>
  <b>Created by:</b>
  <%=h @post.user.nickname or "unknown" %>
</p>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Content:</b>
  <%=textilize @post.content %>
</p>

<%= link_to 'Map', "/map" %> |
<%= link_to 'Back', posts_path %>
  <script type="text/javascript">
    var admin = false;
  </script>
<% if @user and @user.admin? %>
  | <%= link_to 'Edit', edit_post_path(@post) %> |
  <script type="text/javascript">
    var admin = true;
  </script>
<% end %>
</div>

<%= render :partial => "map" %>
