<%= javascript_include_tag 'map_for_post' %>
<%= render :partial => 'admin_bool' %>
<div class="show_post">
  <h2><%= @post.title %></h2>
  <div id="post_author" class="metadata">
    posted by <%= link_to @post.user.display_name, user_url(@post.user) or "unknown" %>
    <% if @user and @user.admin? %>
      <span class="edit_links">
        <%= link_to image_tag("edit.png"), edit_post_path(@post) %>
        <%= link_to image_tag("remove.png"), @post, :method => :delete, :confirm => 'Are you sure?' %>
      </span>
    <% end %>
  </div>
  <div id="post_body">
    <%=red @post.content %>
  </div>

  <%= link_to 'All posts', posts_path %>
</div>

<div id="map_and_comment_container">
  <%= render :partial => "map" %>
  <div id="comments">
    <h3>Comments</h3>
    <% if @post.comments.length > 0 %>
      <%= render :partial => "comments/comment", :collection => @post.comments %>
    <% else %>
      <p><em>no comments yet.</em></p>
    <% end %>

    <%= render :partial => "comments/form", :locals => {:which => @post} %>
  </div>
</div>
