<%= javascript_include_tag 'map_for_post' %>
<div class="suggestion_text">
<p>
  <b>User:</b>
  <%=h @post.user_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Content:</b>
  <%=textilize @post.content %>
</p>

<%= link_to 'Map', "/map" %> |
<%= link_to 'Back', posts_path %>
<% if @user and @user.admin? %>
  | <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Manage Comments', post_comments_path(@post) %>
<% end %>
</div>

<%= render :partial => "map" %>
