<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag 'map_for_waypoints' %>
<%= stylesheet_link_tag 'waypoints' %>

<script type="text/javascript">
  var waypoints = <%= @waypoint_track.to_json.html_safe %>;
</script>

<div class="demo">
  <ul id="sortable_waypoints" class="connectedSortable" >
    <% @waypoints.each do |w| %>
      <% content_tag_for :li, w do %>
        <%= w.position.title %>
      <% end %>
    <% end %>
  </ul>
  <ul id="sortable_positions" class="connectedSortable" >
    <% @positions.each do |s| %>
      <% content_tag_for :li, s do %>
        <%= s.title %>
      <% end %>
    <% end %>
  </ul>
</div><!-- End demo -->

<div id="map_for_waypoints"></div>

