<%= javascript_include_tag 'jquery.masonry.min' %> 
<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
<script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
<%= javascript_include_tag 'fancybox' %>
<%= stylesheet_link_tag 'fancy_black' %> 
<script type="text/javascript">
  $(window).load(function() {
    $("#photo_archive_container").masonry({ singleMode: true });
  });
</script>

<div class="photo_explanation"> <h3> This is just a small sample of all of the photos we have taken on this trip. 
  You can see our complete collections at our flickr accounts 
  <%= link_to("lashleigh", "http://www.flickr.com/photos/lashleigh/") %> and 
  <%= link_to("bensonk42", "http://www.flickr.com/photos/bensonk42/")%>.
  </h3>
</div>
<div id="photo_archive_container">
  <% @photos.each do |p| %>
    <div class="archive_photo">
      <%= link_to(image_tag(p.url('m'), :title => p.title, :border => 0, :alt => p.title), p.url('b'), :class => "fancy", :rel =>"group") %>
    </div>
  <% end %>
</div>
