<% form_for(@suggestion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <%= render :partial => "display_icons" %>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <div style="display: none;" >
    <%= f.label :icon_id %><br />
    <%= f.text_field :icon_id %>
    <br />
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
    <br />
    <%= f.label :lon %><br />
    <%= f.text_field :lon %>
  </div>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

