<%= javascript_include_tag 'map_for_suggestion' %>
<%= render :partial => 'posts/admin_bool' %>
<div class="suggestion_text">
  <h1>Editing suggestion</h1>

  <%= render :partial => "form"  %>

  <%= link_to 'Suggestion list', suggestions_path %>
</div>

<%= render :partial => "map" %>
