<h1>Listing suggestions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Icon</th>
    <th>Content</th>
    <th>Lat</th>
    <th>Lon</th>
  </tr>

<% @suggestions.each do |suggestion| %>
  <tr>
    <td><%=h suggestion.user.name or "unknown" %></td>
    <td><%=h suggestion.title %></td>
    <td><%=image_tag( suggestion.icon.icon_url ) if suggestion.icon %></td>
    <td><%=h suggestion.content %></td>
    <td><%=h "%0.5f" % suggestion.lat %></td>
    <td><%=h "%0.5f" % suggestion.lon %></td>
    <td><%= link_to 'Show', suggestion %></td>
    <td><%= link_to 'Edit', edit_suggestion_path(suggestion) %></td>
    <td><%= link_to 'Destroy', suggestion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New suggestion', new_suggestion_path %>
