<%= javascript_include_tag 'map_for_suggestion' %>
<div class="suggestion_text">

  <h2>
    <%=h @suggestion.title%>
  </h2>

  <div id="body">
    <%=textilize @suggestion.content %>
  </div>

  <p id="metadata">
    <span id="description">
      <%=h @suggestion.icon.description %>
    </span>
    <span id="author">
      suggested by <%=h @suggestion.user.nickname or "unknown" %>
    </span>
    <span id="timestamp">
      <%= distance_of_time_in_words_to_now @suggestion.created_at %> ago.
    </span>
    <% if @user and (@suggestion.user == @user or @user.admin?) %>
      <span class="edit_links">
        <%= link_to image_tag('edit.png'), edit_suggestion_path(@suggestion) %>
      </span>
    <% end %>
  </p>

  <div style="display: none;" >
    <p>
      <b>Lat:</b>
      <%=h @suggestion.lat %>
    </p>
    <p>
      <b>Lon:</b>
      <%=h @suggestion.lon %>
    </p>
  </div>

  <%= render :partial => "comments/comment_list", :object => @suggestion %>

  <%= link_to 'Suggestion list', suggestions_path %>
</div>

<div id="map_and_comment_container">
  <%= render :partial => "map" %>
</div>

