<%= javascript_include_tag 'map_for_suggestion' %>
<%= render :partial => 'posts/admin_bool' %>
<div class="suggestion_show">

  <h2> <%= @suggestion.title%> </h2>
  <div id="body">
    <%=red @suggestion.content %>
  </div>

  <p class="metadata">
    <span id="description">
      <%= @suggestion.icon.description %>
    </span>
    <span id="author">
      suggested by <%= link_to @suggestion.user.display_name, user_path(@suggestion.user) or "unknown" %>
    </span>
    <span id="timestamp">
      <%= distance_of_time_in_words_to_now @suggestion.created_at %> ago.
    </span>
    <% if @user and (@suggestion.user == @user or @user.admin?) %>
      <span class="edit_links">
        <%= link_to image_tag('edit.png'), edit_suggestion_path(@suggestion) %>
      </span>
    <% end %>
  </p>

  <div style="display: none;" >
    <p>
      <b>Lat:</b>
      <%= @suggestion.lat %>
    </p>
    <p>
      <b>Lon:</b>
      <%= @suggestion.lon %>
    </p>
  </div>

  <%= link_to 'Suggestion list', suggestions_path %>
</div>

<div id="map_and_comment_container">
  <%= render :partial => "map" %>
  <div id="comments">
    <h3>Comments</h3>
    <% if @suggestion.comments.length > 0 %>
      <%= render :partial => "comments/comment", :collection => @suggestion.comments %>
    <% else %>
      <p><em>no comments yet.</em></p>
    <% end %>

    <%= render :partial => "comments/form", :locals => {:which => @suggestion} %>
  </div>
</div>

