<%= javascript_include_tag 'map_for_suggestion' %>
<div class="suggestion_text">
<p>
  <b>Title:</b>
  <%=h @suggestion.title%>
</p>

<p>
  <b>Created by:</b>
  <%=h @suggestion.user.nickname or "unknown" %>
</p>

<p>
  <b>Type:</b>
  <%=h @suggestion.icon.name %>
</p>

<p>
  <b>Content:</b>
  <%=textilize @suggestion.content %>
</p>

<div style="display: none;" >
  <p>
    <b>Lat:</b>
    <%=h @suggestion.lat %>
  </p>
  <p>
    <b>Lon:</b>
    <%=h @suggestion.lon %>
  </p>
</div>

<%= link_to 'Map', "/map" %> |
<%= link_to 'Back', suggestions_path %>
<% if @user and @user.admin? %>
  <%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<% end %>
</div>
<%= render :partial => "map" %>
