<%= javascript_include_tag 'globals' %>
<%= javascript_include_tag 'suggestions' %>
<div id="full_screen_container">
  <%= link_to "Make a suggestion?", "/", { :id => "make_suggestion" } %>
  <%= link_to "View map smaller", "/map" %>

  <script type="text/javascript">
    var posts = <%= @posts.to_json %>;
    var images = <%= @photos.to_json %>;
    var suggestions = <%= @suggestions.to_json %>;
  </script>
  <div id="map_canvas" class="full_screen" ></div>
</div>

<div id="photo_preload">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo["url"] %></li>
    <% end %>
  </ul>
</div>
