<%= render :partial => "/home/header" %>
<div id="map_container">
  <div id="map_controls">
    <ul>
      <li><%= link_to "make a suggestion", "#", { :id => "make_suggestion" } %></li>
    </ul>
  </div>
  <div id="map_canvas"></div>

  <script type="text/javascript">
    var images = <%= @photos.to_json %>;
    var suggestions = <%= @suggestions.to_json %>;
  </script>
</div>

<div id="photo_preload">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo["url"] %></li>
    <% end %>
  </ul>
</div>

<%= render :partial => "/home/footer" %>
