<div class="message_container">
  <div class="message">
    <%= link_to "X", "#", {:class => "close_info"} %>
  </div>
</div>
<%= render :partial => "home/header" %>
<%= render "sub_header" %>
<%= render "errors" %>
<div id="full_screen_container">

  <script type="text/javascript">
    var posts = <%= @posts.to_json(:include => :user).html_safe %>;
    var images = <%= @photos.to_json.html_safe %>;
    var sug_hash = <%= @sug_hash.to_json.html_safe %>;
    var logged_in = <%= (not @current_user.nil?).to_json.html_safe %>
  </script>
  <div id="map_canvas" class="full_screen" ></div>
  <div id="searchwell"></div>
</div>

<div id="photo_preload">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo.url %></li>
    <% end %>
  </ul>
</div>

