<%= render :partial => "/home/header" %>
<div id="map_container">
  <p>Please help us make the most of our adventure by indicating places you think we should visit.</p>
  <div id="example_search">
    <input type="text" id="queryInput" value="pizza" style="width: 250px;"/>
    <input id="submitSearch" type="button" value="Find" onclick="doSearch()"/>
  </div>
  <div id="map_canvas"></div>

  <div id="map_controls">
    <ul>
      <li><%= link_to "make a suggestion", "#", { :id => "make_suggestion" } %></li>
    </ul>
  </div>
  <div id="searchwell"></div>

  <script type="text/javascript">
    var images = <%= @photos.to_json %>;
    var suggestions = <%= @suggestions.to_json %>;
  </script>
</div>

<div id="photo_preload">
  <ul>
    <% @photos.each do |photo| %>
      <li><%= image_tag photo["url"] %></li>
    <% end %>
  </ul>
</div>
