<%= javascript_include_tag 'fancy_map' %>
<div id="new_suggestion">
  <div id="fancy_map"> </div>
  <h1>New Suggestion</h1>
  <%= render :partial => "/suggestions/display_icons" %>

  <% form_for @suggestion do |f| %>
    <%= f.error_messages %>
    <div id="suggestion_errors"></div>

    <div style="display: none;">
      <%= f.label :icon_id %>
      <%= f.text_field :icon_id %>
    </div>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content, :rows => 7, :cols => 50 %>
    </p>
    <p>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lon %>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
</div>
