<div id="new_suggestion">
  <div id="fancy_map"> <%= image_tag( image_path("http://maps.google.com/maps/api/staticmap?center=#{@suggestion.lat},#{@suggestion.lon}
                                                 &zoom=15&size=172x141&maptype=roadmap&markers=color:red|
                                                 #{@suggestion.lat},#{@suggestion.lon}&sensor=false")) %> </div>
  <h1>New Suggestion</h1>
  <%= render :partial => "/suggestions/display_icons", :object => @icons %>

  <% form_for @suggestion do |f| %>
    <% if @suggestion.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>
        <ul>
          <% @suggestion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div id="suggestion_errors"></div>

    <div style="display: none;">
      <%= f.label :icon_id %>
      <%= f.text_field :icon_id %>
    </div>
    <p>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content, :rows => 7, :cols => 50 %>
    </p>
    <p>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lon %>
      <%= f.submit 'Create' %>
    </p>
  <% end %>
</div>
