<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Nomads &mdash; A Bicycling Adventure</title>
    <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />

    <link href="http://www.google.com/uds/css/gsearch.css" rel="stylesheet" type="text/css"/>
    <link href="http://gmaps-samples-v3.googlecode.com/svn/trunk/localsearch/places.css" rel="stylesheet" type="text/css"/> 
    <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&key=ABQIAAAAl5IyqwOsJD4fj-mO0dU80RTJQa0g3IQ9GZqIMmInSLzwtGDKaBTIDXqnX0ZQHmGgRvO1p5ixx7Picw"
      type="text/javascript"></script>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript" src="/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
    <%= stylesheet_link_tag 'base' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'fancybox' %>
    <%= javascript_include_tag 'globals' %>
    <%= javascript_include_tag 'googleLocalSearch' %>
    <%= javascript_include_tag 'suggestions' %>
  </head>
  <body>
    <div id="page_wrapper">
      <div id="header_wrapper">
        <div id="header">
          <a id="header-logo" href="/home"></a>
          <div id="login_status">
            <% if session[:user] %>
              Logged in as <%= link_to @user.nickname, { :controller => :openid, :action => :details } %><br/>
              <%= link_to "sign out", :controller => :openid, :action => :destroy %>
            <% else %>
              <%= link_to "sign in", { :controller => :openid }, :id => "sign_in" %>
            <% end %>
          </div>
          <ul id="navigation">
            <li><a href="/flickr">Photos</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="/home/about">About</a></li>
            <li><a href="/home">Home</a></li>
          </ul>
        </div>
      </div>
      <div id="sub_header_wrapper" class="index"> <div id="sub_header" class="index">
          <div id="map_explanation">
            <%= link_to "View Map Full Screen", "/map/full_screen", {:id => "shrink_map"} %>
            <h3> You can help us make the most of our adventure by
              <%= link_to "suggesting", "#", {:id => "make_suggestion"} %>
              places to visit.
            </h3>

            <div id="search_box">
              <input type="text" id="queryInput" placeholder="Search" style="width: 250px;"/>
              <input id="dosearch" type="button" value="Find"/>
            </div>
          </div>
      </div> </div>
      <% if flash[:error] %>
        <div id="errors"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:errors] %>
        <div id="errors">
          <ul>
            <% flash[:errors].each do |err| %>
              <li><%= err %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if flash[:message] %>
        <div id="message"><%= flash[:message] %></div>
      <% end %>
      <div id = "container">
        <script type="text/javascript">
          var posts = <%= @posts.to_json %>;
          var images = <%= @photos.to_json %>;
          var suggestions = <%= @suggestions.to_json %>;
          var waypoints = <%= @waypoints.to_json %>;
        </script>
        <div id="map_canvas"></div>
        <div id="searchwell"></div>
      </div>

      <div id="photo_preload">
        <ul>
          <% @photos.each do |photo| %>
            <li><%= image_tag photo["url"] %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>

