<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Nomads &mdash; Benson and Ashleigh's Bicycling Adventure</title>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'jquery.rails' %>
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'suggestion' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="page_wrapper">
      <%= render :partial => "home/header" %>
      <div id="container">
        <% if flash[:error] %>
          <div id="errors"><%= flash[:error] %></div>
        <% end %>
        <% if flash[:errors] %>
          <div id="errors">
            <ul>
              <% flash[:errors].each do |err| %>
                <li><%= err %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if flash[:message] %>
          <div id="message"><%= flash[:message] %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <%= render :partial => "home/footer" %>
  </body>
</html>
